<div
  class="mb-4 flex flex-col md:flex-row md:items-center md:justify-between gap-2"
>
  <div class="flex-1">
    <form class="flex" (submit)="$event.preventDefault(); onFilterChange()">
      <ui-input
        id="filter"
        [label]="''"
        [placeholder]="'projects.filter' | translate"
        [ngModel]="filter()"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="filter.set($event)"
        (keydown.enter)="onFilterChange()"
      ></ui-input>
    </form>
  </div>
  <div class="flex-shrink-0">
    <ui-button
      color="primary"
      (click)="openNewProject()"
      (keydown.enter)="openNewProject()"
      >{{ "projects.new" | translate }}</ui-button
    >
  </div>
</div>

<ui-table
  [columns]="columns"
  [data]="projects()"
  [loading]="loading()"
  [page]="page()"
  [size]="size()"
  [total]="total()"
  [sort]="sort()"
  (sortChange)="sort.set($event); load()"
  (pageChange)="onPageChange($event)"
>
  <ng-template #rowActions let-project>
    <div class="flex justify-center items-center gap-2">
      <button
        type="button"
        (click)="openEditProject(project)"
        class="p-1 rounded hover:bg-gray-100 focus:outline-none"
        [attr.aria-label]="'common.edit' | translate"
      >
        <ng-icon name="heroPencil" size="18" class="text-blue-600" />
      </button>
      <button
        type="button"
        (click)="askDeleteProject(project)"
        class="p-1 rounded hover:bg-red-100 focus:outline-none ml-1"
        [disabled]="deletingId() === project.id"
        [attr.aria-label]="'common.delete' | translate"
      >
        <ng-icon name="heroTrash" size="18" class="text-red-600" />
      </button>
    </div>
  </ng-template>
  <ng-template #countryCell let-project>
    <span class="inline-flex items-center gap-2">
      <img
        *ngIf="project.countryCode as code"
        [src]="'https://flagcdn.com/24x18/' + code.toLowerCase() + '.png'"
        width="24"
        height="18"
        class="inline-block align-middle rounded-sm border border-gray-200 bg-white"
        [alt]="code + ' flag'"
      />
      <span *ngIf="!project.countryCode" class="text-xs text-gray-500">{{
        project.countryCode
      }}</span>
    </span>
  </ng-template>
</ui-table>

<app-project-form
  [open]="showForm()"
  [project]="editingProject()"
  (closed)="closeForm()"
  (saved)="onProjectSaved()"
></app-project-form>

<ui-modal
  [open]="!!confirmDeleteProject()"
  [title]="'projects.deleteTitle' | translate"
  (close)="cancelDeleteProject()"
>
  <div *ngIf="confirmDeleteProject() as project">
    <p class="mb-4">
      {{ "projects.deleteConfirm" | translate: { name: project.name } }}
    </p>
    <div class="flex justify-end gap-2">
      <ui-button
        color="secondary"
        (click)="cancelDeleteProject()"
        (keydown.enter)="cancelDeleteProject()"
        >{{ "common.cancel" | translate }}</ui-button
      >
      <ui-button
        color="danger"
        [loading]="deletingId() === project.id"
        (click)="deleteProjectConfirmed()"
        (keydown.enter)="deleteProjectConfirmed()"
        >{{ "common.delete" | translate }}</ui-button
      >
    </div>
  </div>
</ui-modal>
